@import '../../styleUtils/colors';

.section-wrapper {

    .section-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: $passive;

            &:hover {
                color: $red;
            }
        }
    }

    hr {
        opacity: 0.2;
        border-top-width: 3px;
    }

    .content {
        margin-top: 40px;
    }
}

@media screen and (max-width: 920px) {
    .section-wrapper {
        width: 100% !important;
    }
}