@import '../styleUtils/colors';

.popular-Page {
    section.container {
        margin-top: 0;
    }

    .cards-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }



}