@import '../styleUtils/colors';

.scroll-card {
    width: fit-content;
    cursor: pointer;

    &:hover {
        color: $red !important;
    }

    img {
        border-radius: 7px;
        border: solid 0px;
        width: 200px !important;
        height: 200px;
        object-fit: cover;
        transition: all 0.3s ease;
    }

    p {
        margin-top: 10px;
    }
}