@import '../styleUtils/colors';

.text-card {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    line-height: 2rem;

    h4 {

        transition: color 0.3s ease;
    }

    &:hover h4 {

        color: $red;

    }

    .card-title {
        text-transform: uppercase;
        color: $passive;
    }
}